# Introdução a ML e Classificação

In [1]:
import pandas as pd

In [2]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [3]:
mapa = {
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}
dados = dados.rename(columns = mapa)

In [4]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]

In [5]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [7]:
dados.shape

(99, 4)

In [8]:
x[:75]

    principal  como_funciona  contato
0           1              1        0
1           1              1        0
2           1              1        0
3           1              1        0
4           1              1        0
..        ...            ...      ...
70          1              1        0
71          0              0        1
72          0              0        1
73          0              0        1
74          0              0        1

[75 rows x 3 columns]

**Será treinado com 75 elementos e testado com 25**

In [9]:
treino_x = x[:75]
treino_y = y[:75]

In [10]:
treino_y.shape

(75,)

In [11]:
teste_x = x[75:]
teste_y = y[75:]

In [12]:
teste_y.shape

(24,)

## Iniciando treino

In [13]:
from sklearn.svm import LinearSVC
modelo = LinearSVC()

In [14]:
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [16]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0], dtype=int64)

In [17]:
accuracy_score(teste_y, previsoes)

NameError: name 'accuracy_score' is not defined